# Symfony & PHP
/var/
/vendor/
/.env
.env.*
/config/secrets/
/phpunit.xml

# Node & Assets
/node_modules/
/public/build/
/public/bundles/
/assets/

# IDEs & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs & cache
/log/
/*.log
*.log
*.cache

# Composer
composer.lock

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
